In [1]:
import os
# Find the latest version of spark 3.0  from http://www.apache.org/dist/spark/ and enter as the spark version
# For example:
# spark_version = 'spark-3.0.3'
spark_version = 'spark-3.2.0'
os.environ['SPARK_VERSION']=spark_version

# Install Spark and Java
!apt-get update
!apt-get install openjdk-8-jdk-headless -qq > /dev/null
!wget -q http://www.apache.org/dist/spark/$SPARK_VERSION/$SPARK_VERSION-bin-hadoop2.7.tgz
!tar xf $SPARK_VERSION-bin-hadoop2.7.tgz
!pip install -q findspark

# Set Environment Variables
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = f"/content/{spark_version}-bin-hadoop2.7"

# Start a SparkSession
import findspark
findspark.init()

Get:1 http://security.ubuntu.com/ubuntu bionic-security InRelease [88.7 kB]
Get:2 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ InRelease [3,626 B]
Hit:3 http://archive.ubuntu.com/ubuntu bionic InRelease
Get:4 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic InRelease [15.9 kB]
Ign:5 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  InRelease
Get:6 http://archive.ubuntu.com/ubuntu bionic-updates InRelease [88.7 kB]
Ign:7 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  InRelease
Get:8 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release [696 B]
Hit:9 https://developer.download.nvidia.com/compute/machine-learning/repos/ubuntu1804/x86_64  Release
Get:10 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Release.gpg [836 B]
Hit:11 http://ppa.launchpad.net/cran/libgit2/ubuntu bionic InRelease
Get:12 http://archive.ubuntu.com/ubuntu bionic-backports InRelease [74.6 kB]
Get:13 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic InRelease [15.9 kB]
Get:14 http://security.ubuntu.com/ubuntu bionic-security/main amd64 Packages [2,498 kB]
Get:15 http://security.ubuntu.com/ubuntu bionic-security/restricted amd64 Packages [725 kB]
Get:16 http://security.ubuntu.com/ubuntu bionic-security/universe amd64 Packages [1,459 kB]
Hit:17 http://ppa.launchpad.net/graphics-drivers/ppa/ubuntu bionic InRelease
Get:18 https://cloud.r-project.org/bin/linux/ubuntu bionic-cran40/ Packages [76.0 kB]
Get:19 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main Sources [1,823 kB]
Get:21 https://developer.download.nvidia.com/compute/cuda/repos/ubuntu1804/x86_64  Packages [867 kB]
Get:22 http://ppa.launchpad.net/c2d4u.team/c2d4u4.0+/ubuntu bionic/main amd64 Packages [934 kB]
Get:23 http://archive.ubuntu.com/ubuntu bionic-updates/universe amd64 Packages [2,238 kB]
Get:24 http://archive.ubuntu.com/ubuntu bionic-updates/main amd64 Packages [2,935 kB]
Get:25 http://archive.ubuntu.com/ubuntu bionic-updates/restricted amd64 Packages [758 kB]
Get:26 http://ppa.launchpad.net/deadsnakes/ppa/ubuntu bionic/main amd64 Packages [45.3 kB]
Fetched 14.6 MB in 5s (2,801 kB/s)
Reading package lists... Done

In [2]:
# 
!wget https://jdbc.postgresql.org/download/postgresql-42.2.9.jar

--2022-01-18 01:15:03--  https://jdbc.postgresql.org/download/postgresql-42.2.9.jar
Resolving jdbc.postgresql.org (jdbc.postgresql.org)... 72.32.157.228, 2001:4800:3e1:1::228
Connecting to jdbc.postgresql.org (jdbc.postgresql.org)|72.32.157.228|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 914037 (893K) [application/java-archive]
Saving to: ‘postgresql-42.2.9.jar’

postgresql-42.2.9.j 100%[===================>] 892.61K  5.13MB/s    in 0.2s

2022-01-18 01:15:04 (5.13 MB/s) - ‘postgresql-42.2.9.jar’ saved [914037/914037]

In [3]:
# Start Spark session
from pyspark.sql import SparkSession
spark = SparkSession.builder.appName("bigdata").config("spark.driver.extraClassPath","/content/postgresql-42.2.9.jar").getOrCreate()

In [4]:
from pyspark import SparkFiles
# Load in user_data.csv from S3 into a DataFrame
url = "https://s3.amazonaws.com/amazon-reviews-pds/tsv/amazon_reviews_us_Gift_Card_v1_00.tsv.gz"
spark.sparkContext.addFile(url)

gc_df = spark.read.option("encoding", "UTF-8").csv(SparkFiles.get(""), sep="\t", header=True, inferSchema=True)
gc_df.show()

+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|marketplace|customer_id|     review_id|product_id|product_parent|       product_title|product_category|star_rating|helpful_votes|total_votes|vine|verified_purchase|     review_headline|         review_body|review_date|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
|         US|   24371595|R27ZP1F1CD0C3Y|B004LLIL5A|     346014806|Amazon eGift Card...|       Gift Card|          5|            0|          0|   N|                Y|          Five Stars|Great birthday gi...| 2015-08-31|
|         US|   42489718| RJ7RSBCHUDNNE|B004LLIKVU|     473048287|Amazon.com eGift ...|       Gift Card|          5|            0|          0|   N|                Y|Gift card for the...|It's an Amazon gi...| 2015-08-31|
|         US|     861463|R1HVYBSKLQJI5S|B00IX1I3G6|     926539283|Amazon.com Gift C...|       Gift Card|          5|            0|          0|   N|                Y|          Five Stars|                Good| 2015-08-31|
|         US|   25283295|R2HAXF0IIYQBIR|B00IX1I3G6|     926539283|Amazon.com Gift C...|       Gift Card|          1|            0|          0|   N|                Y|            One Star|                Fair| 2015-08-31|
|         US|     397970| RNYLPX611NB7Q|B005ESMGV4|     379368939|Amazon.com Gift C...|       Gift Card|          5|            0|          0|   N|                Y|          Five Stars|I can't believe h...| 2015-08-31|
|         US|   18513645|R3ALA9XXMBEDZR|B004KNWWU4|     326384774|Amazon Gift Card ...|       Gift Card|          5|            0|          0|   N|                Y|Perfect for most ...|Perfect!  Nice & ...| 2015-08-31|
|         US|   22484620|R3R8PHAVJFTPDF|B004LLIKVU|     473048287|Amazon.com eGift ...|       Gift Card|          5|            0|          0|   N|                Y|          Five Stars|            excelent| 2015-08-31|
|         US|   14765851|R18WWEK8OIXE30|BT00CTP2EE|     775486538|Amazon.com Gift C...|       Gift Card|          5|            0|          0|   N|                Y|          Five Stars|Great and Safe Gi...| 2015-08-31|
|         US|   18751931|R1EGUNQON2J277|B004LLIKVU|     473048287|Amazon.com eGift ...|       Gift Card|          1|            0|          0|   N|                Y|            One Star|       What?????????| 2015-08-31|
|         US|   15100528|R21Z4M4L98CPU2|B004W8D102|     595099956|Amazon Gift Card ...|       Gift Card|          5|            0|          0|   N|                Y|          Five Stars|This was just too...| 2015-08-31|
|         US|    3559726| R6JH7A117FHFA|B004LLIKVU|     473048287|Amazon.com eGift ...|       Gift Card|          5|            0|          0|   N|                Y|          Five Stars|                Bien| 2015-08-31|
|         US|   23413911|R1XZHS8M1GCGI7|B004KNWWU4|     326384774|Amazon Gift Card ...|       Gift Card|          5|            1|          1|   N|                Y|         Always good|Easy to print fro...| 2015-08-31|
|         US|    2026222|R1DAI0N03SKRJN|B004LLIKVU|     473048287|Amazon.com eGift ...|       Gift Card|          5|            1|          1|   N|                Y|          Five Stars|Amazing with 10 d...| 2015-08-31|
|         US|   32956435|R2F6SKZOEYQRU3|B004LLIKVU|     473048287|Amazon.com eGift ...|       Gift Card|          5|            0|          0|   N|                N|          Five Stars|Remember Matthew ...| 2015-08-31|
|         US|   20241560| RIBOP6OEAZA47|B00H5BNLUS|     637715957|Amazon eGift Card...|       Gift Card|          5|            1|          1|   N|                Y|          Five Stars|                good| 2015-08-31|
|         US|   10670435|R15H8E7WD6XD29|B004KNWX6C|     763371347|Amazon Gift Card ...|       Gift Card|          5|            0|          0|   N|                Y|          Five Stars|Awesome way to se...| 2015-08-31|
|         US|   48872127| RVN4P3RU4F8IE|BT00CTOYC0|     506740729|Amazon.com $15 Gi...|       Gift Card|          5|            0|          0|   N|                Y|Quick Solution fo...|I love that I hav...| 2015-08-31|
|         US|     460630| RCS8F9JCAAXC7|B004LLIKVU|     473048287|Amazon.com eGift ...|       Gift Card|          4|            0|          0|   N|                Y|          Four Stars|Good gift. Easy t...| 2015-08-31|
|         US|   41238378| R6811C4E7UYL2|B00H5BMH44|      81025991|Amazon eGift Card...|       Gift Card|          5|            0|          0|   N|                Y|  Satisfied customer|Satisfied as usua...| 2015-08-31|
|         US|   14222739|R196T0NZ73TYIM|B005ESMMKE|     459536087|Amazon.com Gift C...|       Gift Card|          5|            1|          1|   N|                Y|          Five Stars|                nice| 2015-08-31|
+-----------+-----------+--------------+----------+--------------+--------------------+----------------+-----------+-------------+-----------+----+-----------------+--------------------+--------------------+-----------+
only showing top 20 rows

# Total Number of Records #

In [5]:
total_rows = gc_df.count()
print(f"The total number of records in the dataset is {total_rows}")

The total number of records in the dataset is 149086

In [ ]:
gc_df.printSchema()

root
 |-- marketplace: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- review_id: string (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- product_title: string (nullable = true)
 |-- product_category: string (nullable = true)
 |-- star_rating: integer (nullable = true)
 |-- helpful_votes: integer (nullable = true)
 |-- total_votes: integer (nullable = true)
 |-- vine: string (nullable = true)
 |-- verified_purchase: string (nullable = true)
 |-- review_headline: string (nullable = true)
 |-- review_body: string (nullable = true)
 |-- review_date: string (nullable = true)

In [6]:
# create the review id table
gc_review_id_temp_df = gc_df.select(['review_id', 'customer_id', 'product_id', 'product_parent', 'review_date'])
gc_review_id_temp_df.show()

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R27ZP1F1CD0C3Y|   24371595|B004LLIL5A|     346014806| 2015-08-31|
| RJ7RSBCHUDNNE|   42489718|B004LLIKVU|     473048287| 2015-08-31|
|R1HVYBSKLQJI5S|     861463|B00IX1I3G6|     926539283| 2015-08-31|
|R2HAXF0IIYQBIR|   25283295|B00IX1I3G6|     926539283| 2015-08-31|
| RNYLPX611NB7Q|     397970|B005ESMGV4|     379368939| 2015-08-31|
|R3ALA9XXMBEDZR|   18513645|B004KNWWU4|     326384774| 2015-08-31|
|R3R8PHAVJFTPDF|   22484620|B004LLIKVU|     473048287| 2015-08-31|
|R18WWEK8OIXE30|   14765851|BT00CTP2EE|     775486538| 2015-08-31|
|R1EGUNQON2J277|   18751931|B004LLIKVU|     473048287| 2015-08-31|
|R21Z4M4L98CPU2|   15100528|B004W8D102|     595099956| 2015-08-31|
| R6JH7A117FHFA|    3559726|B004LLIKVU|     473048287| 2015-08-31|
|R1XZHS8M1GCGI7|   23413911|B004KNWWU4|     326384774| 2015-08-31|
|R1DAI0N03SKRJN|    2026222|B004LLIKVU|     473048287| 2015-08-31|
|R2F6SKZOEYQRU3|   32956435|B004LLIKVU|     473048287| 2015-08-31|
| RIBOP6OEAZA47|   20241560|B00H5BNLUS|     637715957| 2015-08-31|
|R15H8E7WD6XD29|   10670435|B004KNWX6C|     763371347| 2015-08-31|
| RVN4P3RU4F8IE|   48872127|BT00CTOYC0|     506740729| 2015-08-31|
| RCS8F9JCAAXC7|     460630|B004LLIKVU|     473048287| 2015-08-31|
| R6811C4E7UYL2|   41238378|B00H5BMH44|      81025991| 2015-08-31|
|R196T0NZ73TYIM|   14222739|B005ESMMKE|     459536087| 2015-08-31|
+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

In [7]:
# check schema
gc_review_id_temp_df.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- review_date: string (nullable = true)

In [8]:
# convert review_date to DATE from string
from pyspark.sql.functions import to_date
gc_review_id_df = gc_review_id_temp_df.withColumn('REVIEW_DATED', to_date(gc_review_id_temp_df.review_date, 'yyyy-MM-dd'))
gc_review_id_df.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- review_date: string (nullable = true)
 |-- REVIEW_DATED: date (nullable = true)

In [9]:
# drop "review_date" column
from pyspark.sql.types import StructType,StructField, StringType, IntegerType
gc_review_id_df = gc_review_id_df.drop("review_date")
gc_review_id_df.printSchema()

root
 |-- review_id: string (nullable = true)
 |-- customer_id: integer (nullable = true)
 |-- product_id: string (nullable = true)
 |-- product_parent: integer (nullable = true)
 |-- REVIEW_DATED: date (nullable = true)

In [10]:
# rename "REVIEW_DATE" column
gc_review_id_df = gc_review_id_df.withColumnRenamed('REVIEW_DATED', 'review_date')
gc_review_id_df.show()

+--------------+-----------+----------+--------------+-----------+
|     review_id|customer_id|product_id|product_parent|review_date|
+--------------+-----------+----------+--------------+-----------+
|R27ZP1F1CD0C3Y|   24371595|B004LLIL5A|     346014806| 2015-08-31|
| RJ7RSBCHUDNNE|   42489718|B004LLIKVU|     473048287| 2015-08-31|
|R1HVYBSKLQJI5S|     861463|B00IX1I3G6|     926539283| 2015-08-31|
|R2HAXF0IIYQBIR|   25283295|B00IX1I3G6|     926539283| 2015-08-31|
| RNYLPX611NB7Q|     397970|B005ESMGV4|     379368939| 2015-08-31|
|R3ALA9XXMBEDZR|   18513645|B004KNWWU4|     326384774| 2015-08-31|
|R3R8PHAVJFTPDF|   22484620|B004LLIKVU|     473048287| 2015-08-31|
|R18WWEK8OIXE30|   14765851|BT00CTP2EE|     775486538| 2015-08-31|
|R1EGUNQON2J277|   18751931|B004LLIKVU|     473048287| 2015-08-31|
|R21Z4M4L98CPU2|   15100528|B004W8D102|     595099956| 2015-08-31|
| R6JH7A117FHFA|    3559726|B004LLIKVU|     473048287| 2015-08-31|
|R1XZHS8M1GCGI7|   23413911|B004KNWWU4|     326384774| 2015-08-31|
|R1DAI0N03SKRJN|    2026222|B004LLIKVU|     473048287| 2015-08-31|
|R2F6SKZOEYQRU3|   32956435|B004LLIKVU|     473048287| 2015-08-31|
| RIBOP6OEAZA47|   20241560|B00H5BNLUS|     637715957| 2015-08-31|
|R15H8E7WD6XD29|   10670435|B004KNWX6C|     763371347| 2015-08-31|
| RVN4P3RU4F8IE|   48872127|BT00CTOYC0|     506740729| 2015-08-31|
| RCS8F9JCAAXC7|     460630|B004LLIKVU|     473048287| 2015-08-31|
| R6811C4E7UYL2|   41238378|B00H5BMH44|      81025991| 2015-08-31|
|R196T0NZ73TYIM|   14222739|B005ESMMKE|     459536087| 2015-08-31|
+--------------+-----------+----------+--------------+-----------+
only showing top 20 rows

In [11]:
# create the products table df
gc_products_df = gc_df.select(['product_id', "product_title"])
gc_products_df.show()

+----------+--------------------+
|product_id|       product_title|
+----------+--------------------+
|B004LLIL5A|Amazon eGift Card...|
|B004LLIKVU|Amazon.com eGift ...|
|B00IX1I3G6|Amazon.com Gift C...|
|B00IX1I3G6|Amazon.com Gift C...|
|B005ESMGV4|Amazon.com Gift C...|
|B004KNWWU4|Amazon Gift Card ...|
|B004LLIKVU|Amazon.com eGift ...|
|BT00CTP2EE|Amazon.com Gift C...|
|B004LLIKVU|Amazon.com eGift ...|
|B004W8D102|Amazon Gift Card ...|
|B004LLIKVU|Amazon.com eGift ...|
|B004KNWWU4|Amazon Gift Card ...|
|B004LLIKVU|Amazon.com eGift ...|
|B004LLIKVU|Amazon.com eGift ...|
|B00H5BNLUS|Amazon eGift Card...|
|B004KNWX6C|Amazon Gift Card ...|
|BT00CTOYC0|Amazon.com $15 Gi...|
|B004LLIKVU|Amazon.com eGift ...|
|B00H5BMH44|Amazon eGift Card...|
|B005ESMMKE|Amazon.com Gift C...|
+----------+--------------------+
only showing top 20 rows

In [12]:
# check total rows before dropping duplicates
total_rows = gc_products_df.count()
print(f"The total number of records in the dataset is before removing duplicates {total_rows}")

The total number of records in the dataset is before removing duplicates 149086

In [13]:
# drop dupilcate rows
gc_products_df = gc_products_df.distinct()

In [14]:
# check total rows after dropping duplicates
total_rows = gc_products_df.count()
print(f"The total number of records in the dataset is after removing duplicates {total_rows}")

The total number of records in the dataset is after removing duplicates 1780

In [15]:
# create the customers df
from pyspark.sql.functions import desc
gc_customers_df = gc_df.select(['customer_id'])\
  .groupby("customer_id")\
  .agg({"customer_id": "count"})\
  .orderBy(desc("count(customer_id)"))
gc_customers_df.show()

+-----------+------------------+
|customer_id|count(customer_id)|
+-----------+------------------+
|    9374792|                 7|
|   30058414|                 6|
|   52166758|                 6|
|   37097444|                 5|
|   50442527|                 5|
|   41017998|                 5|
|    3184017|                 5|
|   42184434|                 5|
|   51046621|                 5|
|   41920477|                 5|
|   15374693|                 5|
|   29054990|                 5|
|   50822336|                 5|
|   36702734|                 5|
|   37636715|                 5|
|    5572588|                 5|
|   28838326|                 5|
|   45359231|                 5|
|   45298444|                 5|
|   12891421|                 4|
+-----------+------------------+
only showing top 20 rows

In [16]:
# rename "count(customer_id)" column
gc_customers_df = gc_customers_df.withColumnRenamed('count(customer_id)', 'customer_count')
gc_customers_df.show()

+-----------+--------------+
|customer_id|customer_count|
+-----------+--------------+
|    9374792|             7|
|   30058414|             6|
|   52166758|             6|
|   37097444|             5|
|   50442527|             5|
|   41017998|             5|
|    3184017|             5|
|   42184434|             5|
|   51046621|             5|
|   41920477|             5|
|   15374693|             5|
|   29054990|             5|
|   50822336|             5|
|   36702734|             5|
|   37636715|             5|
|    5572588|             5|
|   28838326|             5|
|   45359231|             5|
|   45298444|             5|
|   12891421|             4|
+-----------+--------------+
only showing top 20 rows

In [17]:
# check rows in customer df
total_rows = gc_customers_df.count()
print(f"The total number of records in the dataset is before removing duplicates {total_rows}")

The total number of records in the dataset is before removing duplicates 143181

In [18]:
# drop dupilcate rows
gc_customers_df = gc_customers_df.distinct()

In [19]:
 # check rows in customer df
 total_rows = gc_customers_df.count()
print(f"The total number of records in the dataset is after removing duplicates {total_rows}")

The total number of records in the dataset is after removing duplicates 143181

In [20]:
# create the vine df
gc_vine_df = gc_df.select(['review_id', 'star_rating', 'helpful_votes', 'total_votes', 'vine'])
gc_vine_df.show()

+--------------+-----------+-------------+-----------+----+
|     review_id|star_rating|helpful_votes|total_votes|vine|
+--------------+-----------+-------------+-----------+----+
|R27ZP1F1CD0C3Y|          5|            0|          0|   N|
| RJ7RSBCHUDNNE|          5|            0|          0|   N|
|R1HVYBSKLQJI5S|          5|            0|          0|   N|
|R2HAXF0IIYQBIR|          1|            0|          0|   N|
| RNYLPX611NB7Q|          5|            0|          0|   N|
|R3ALA9XXMBEDZR|          5|            0|          0|   N|
|R3R8PHAVJFTPDF|          5|            0|          0|   N|
|R18WWEK8OIXE30|          5|            0|          0|   N|
|R1EGUNQON2J277|          1|            0|          0|   N|
|R21Z4M4L98CPU2|          5|            0|          0|   N|
| R6JH7A117FHFA|          5|            0|          0|   N|
|R1XZHS8M1GCGI7|          5|            1|          1|   N|
|R1DAI0N03SKRJN|          5|            1|          1|   N|
|R2F6SKZOEYQRU3|          5|            0|          0|   N|
| RIBOP6OEAZA47|          5|            1|          1|   N|
|R15H8E7WD6XD29|          5|            0|          0|   N|
| RVN4P3RU4F8IE|          5|            0|          0|   N|
| RCS8F9JCAAXC7|          4|            0|          0|   N|
| R6811C4E7UYL2|          5|            0|          0|   N|
|R196T0NZ73TYIM|          5|            1|          1|   N|
+--------------+-----------+-------------+-----------+----+
only showing top 20 rows

In [21]:
# configure settings for RDS
mode = "append"
jdbc_url="xxxxxxxxxxx"
config = {"user":"xxxxxxxx", 
          "password": "xxxxxxxxxxxxxxx",
          "driver":"org.postgresql.Driver"}

In [22]:
# write the watch_review_id_df to the watch_review_id table in postress

gc_review_id_df.write.jdbc(url=jdbc_url, table='gc_review_id', mode=mode, properties=config)

In [23]:
# write the watch_review_id_df to the watch_review_id table in postress

gc_products_df.write.jdbc(url=jdbc_url, table='gc_products', mode=mode, properties=config)

In [24]:
# write the watch_customers_df to the watch_customers table in postress

gc_customers_df.write.jdbc(url=jdbc_url, table='gc_customers', mode=mode, properties=config)

In [25]:
# write the watch_customers_df to the watch_customers table in postress

gc_vine_df.write.jdbc(url=jdbc_url, table='gc_vine', mode=mode, properties=config)